@font-face {
    font-family: "Gilroy-Light";
    src: url("../assets/font/Gilroy-Light.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Regular";
    src: url("../assets/font/Gilroy-Regular.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Medium";
    src: url("../assets/font/Gilroy-Medium.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Bold";
    src: url("../assets/font/Gilroy-Bold.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../assets/font/Gilroy-ExtraBold.otf");
  }
  
  @font-face {
    font-family: "Gilroy-Heavy";
    src: url("../assets/font/Gilroy-Heavy.ttf");
  }

  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
  }

body{
    margin-top: 70px;
}

label, p,button{
    font-family: "Gilroy-Medium";
  }

  a{
      text-decoration: none;
  }

  .container{
    text-align: center;
}

h1{
    margin-top: 70px;
    font-size: 30px;
    font-family: "Gilroy-Bold";
}

p{
    margin-top: 20px;
    font-size: 14px;
}

/* Form style */
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  
  }
  
  #currency{
    font-family: "Gilroy-Regular";
    font-size: 16px;
  }
  
/* Inputs Style */
input[type=text], input[type=password], #currency{
    width: 300px;
    height: 50px;
    display: inline-block;
    border: none transparent;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    padding: 12px 20px;
    margin: 16px 0;
  }

  
  input::placeholder{
    color: #CCD2E3;
    font-family: "Gilroy-Regular";
  }

/* Style Name input and icon */

.nameIcon{
    position: relative;
}
.nameIcon img[class="nameimg"]{
    position: absolute;
    left: 0;
    top: 34px;
    padding: 9px 8px;
}
.nameIcon input[type=text]{
    padding-left: 40px;
}
.nameIcon img[class="nameimg"]{
    position: absolute;
    right: 0;
    top:34px ;
    padding: 9px 8px;
}
/* Style Email input and icon */

.mailIcon{
    position: relative;
}
.mailIcon img[class="mailimg"]{
    position: absolute;
    left: 0;
    top: 34px;
    padding: 9px 8px;
}
.mailIcon input[type=text]{
    padding-left: 40px;
}
.mailIcon img[class="mailimg"]{
    position: absolute;
    right: 0;
    top:34px ;
    padding: 9px 8px;
}
/* Style password input and icon */

.pswIcon{
    position: relative;
}
.pswIcon img[class="pswimg"]{
    position: absolute;
    left: 0;
    top: 34px;
    padding: 9px 8px;
}
.pswIcon input[type=password]{
    padding-left: 40px;
}
.pswIcon img[class="hidePsw"]{
    position: absolute;
    right: 0;
    top:34px ;
    padding: 9px 8px;
    cursor: pointer;
}

/* Style label text */
  label {
    display:block;
    width: 300px;
    height:auto; 
    text-align:left;
}

/* Style signup button */
.signupbtn{
    background-color: #2CB674;
    color:#FFFFFF;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 250px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    } 
