* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(../assets/font/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../assets/font/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../assets/font/Gilroy-Medium.ttf);
}

body{
    background: rgb(0, 0, 0, 0.3);
}
.backBtn {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 20px 25px;
  padding: 0;
  cursor: pointer;
  font-family: "Gilroy-Regular";
  margin-right: 300px;
}

.details {
  height: 812px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.categoryPrice {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

.category {
  font-family: "Gilroy-Regular";
}

.priceTag {
  width: 102px;
    display: flex;
    font-family: "Gilroy-Bold";
    font-size: 22px;
    justify-content: space-between;
}


.title {
  font-size: 18px;
  margin: 0px 24px 20px 24px;
  margin-bottom: 20px;
  font-family: "Gilroy-Bold";
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.description {
  margin: 0px 24px 30px 24px;
  width: 85%;
  height: 95px;
  font-family: "Gilroy-Medium";
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.quantityPrice {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 8px;
}

.quantity {
  display: flex;
  flex-direction: row;
  width: 35%;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.amount {
  font-family: "Gilroy-Regular";
}

.price {
  display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.ttl {
  font-family: "Gilroy-Regular";
}

.totalPrice {
  font-family: "Gilroy-Bold";
  font-size: 22px;
}

.minus {
  background-color: #f7f7f7;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.plusItem {
  background-color: #f7f7f7;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.buyAddbtns {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 30px;
  margin-top: 30px;
}

.buy {
  width: 155px;
  height: 50px;
  background: white;
  border: 1px solid #2cb674;
  box-sizing: border-box;
  border-radius: 50px;
  color: #2cb674;
  cursor: pointer;
  font-family: "Gilroy-Medium";
  font-size: 18px;
}

.add {
  width: 155px;
  height: 50px;
  background: #2cb674;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-family: "Gilroy-Medium";
  font-size: 18px;
}

#productImage{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

@media(min-width: 600px) {
    body{
        display: flex;
        justify-content:flex-end;
        align-items: flex-end;
        background-color: rgb(0, 0, 0, 0.3);
        flex-direction: column;
    }

    .details {
        width: 375px;
        height: 975px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        justify-content: space-evenly;
    }

    .backBtn {
        background: none;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0 20px 25px;
        padding: 0;
        cursor: pointer;
        font-family: "Gilroy-Regular";
        margin-right: 300px;
      }


    
}

.buyMsg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.3);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.msgcontainer h1 {
  font-family: "Gilroy-Bold";
  font-size: 22px;
  margin-top: 30px;
}

.msgBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.msgcontainer {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24vh;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(128, 128, 128, 0.15);
  border-radius: 20px;
  position: relative;
}
.msgcontainer p {
  font-size: 18px;
  font-family: "Gilroy-Regular";
  padding-right: 11px;
  margin-left: 19px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 39px;
  margin-top: 20px;
}

.submitBtn {
  background-color: #2cb674;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

.plus {
  width: 28.21px;
  height: 28.21px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 88%;
  left: 85%;
  border: none;
  cursor: pointer;
}
